body {
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  display: inline-block;
}

label {
  display: block;
}

input[type="number"] {
  width: 50px;
}

#result {
  font-weight: bold;
}
